<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activityx.allei.dao.ProductDao">
	
	<!-- 상품 등록 -->
	<insert id="create">
		INSERT INTO product
		VALUES(#{shop}, #{name}, #{description}, #{price}, #{num})
	</insert>
	
	<!-- 해당 업체의 상품 리스트 조회 -->
	<select id="readAll" resultType="com.activityx.allei.dto.ProductDto">
		SELECT *
		FROM product
		WHERE shop=#{shop}
	</select>
	
	<!-- 상품 수정 -->
	<update id="update">
		UPDATE product
		SET name=#{name}, description=#{description}, price=#{price}, num=#{num}
		WHERE id=#{id}
	</update>

</mapper>