<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activityx.allei.dao.CategoryDao">
	
	<!-- 카테고리 이름으로 카테고리 코드 조회 -->
	<select id="readCode" resultType="Integer">
		SELECT code
		FROM category
		WHERE name LIKE #{name}
	</select>

</mapper>