<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activityx.allei.dao.ReviewDao">

	<!-- 후기 등록 -->
	<insert id="create">
		INSERT INTO review (reservation, rate, content)
		VALUES(#{reservation}, #{rate}, #{content})
	</insert>
	
	<!-- 후기 조회 -->
	<select id="read" resultType="com.activityx.allei.dto.ReviewDto">
		SELECT *
		FROM review
		WHERE id=#{id}
	</select>
	
	<!-- 후기 수정 -->
	<update id="update">
		UPDATE review
		SET rate=#{rate}, content=#{content}
		WHERE id=#{id}
	</update>
	
	<!-- 후기 삭제 -->
	<delete id="delete">
		DELETE FROM review
		WHERE id=#{id}
	</delete>
</mapper>