<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activityx.allei.dao.ShopDao">
	
	<!-- 업체 등록 -->
	<insert id="create">
		INSERT INTO shop (admin, name, address, phone, classification, number, description)
		VALUES(#{admin}, #{name}, #{address}, #{phone}, #{classification}, #{number}, #{description})
	</insert>
	
	<!-- 업체 상세 조회 -->
	<select id="read" resultType="com.activityx.allei.dto.ShopDto">
		SELECT *
		FROM shop
		WHERE id=#{id}
	</select>
	
	<!-- 업체 리스트 조회 -->
	<select id="readAll" resultType="com.activityx.allei.dto.ShopDto">
		SELECT *
		FROM shop
	</select>

	<!-- 업체 검색 -->
	<select id="search" resultType="com.activityx.allei.dto.ShopDto">
		SELECT *
		FROM shop
		WHERE name LIKE CONCAT('%', #{searchword}, '%') OR description LIKE CONCAT('%', #{searchword}, '%')
	</select>
	
	<!-- 업체 상세 검색 -->
	<select id="detailedSearch" resultType="com.activityx.allei.dto.ShopDto">
		SELECT shop.id, shop.admin, shop.name, shop.address, shop.phone, shop.classification, shop.number, shop.description
		FROM shop, (SELECT shop_category.id, shop_category.shop, shop_category.code
					FROM category, shop_category
					WHERE name LIKE #{category} AND category.code = shop_category.id) AS ctgr
		WHERE shop.id = ctgr.shop AND shop.id IN (SELECT shop
												FROM product
												WHERE price BETWEEN #{minPrice} AND #{maxPrice} AND address LIKE CONCAT('%', #{region}, '%'))
	</select>
	
	<!-- 업체 수정 -->
	<update id="update">
		UPDATE shop
		SET name=#{name}, address=#{address}, phone=#{phone}, number=#{number}, description=#{description}
		WHERE id=#{id}
	</update>
	
	<!-- 업체 삭제 -->
	<delete id="delete">
		DELETE FROM shop
		WHERE id=#{id}
	</delete>

</mapper>