<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activityx.allei.dao.ShopDao">
	
	<!-- 업체 등록 -->
	<insert id="createShop" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO shop (admin, name, address, phone, classification, number, description, imgDesc, img, region)
		VALUES(#{admin}, #{name}, #{address}, #{phone}, #{classification}, #{number}, #{description}, #{imgDesc}, #{img}, #{region})
	</insert>
	
	<!-- 업체 상세 조회 -->
	<select id="read" resultType="com.activityx.allei.dto.ShopDto">
		SELECT *
		FROM shop
		WHERE id=#{id}
	</select>
	
	<!-- 업체 리스트 조회 -->
	<select id="readAll" resultType="com.activityx.allei.dto.ShopDto">
		SELECT *
		FROM shop
		order by id desc
	</select>

	<!-- 레저 서비스 업체 검색 -->
	<select id="searchLeisureShops" resultType="com.activityx.allei.dto.ShopDto">
		SELECT *
		FROM shop
		WHERE (name LIKE CONCAT('%', #{searchword}, '%') OR description LIKE CONCAT('%', #{searchword}, '%')) AND classification = 0
		order by id desc
	</select>
	
	<!-- 장비 대여 업체 검색 -->
	<select id="searchRentalShops" resultType="com.activityx.allei.dto.ShopDto">
		SELECT *
		FROM shop
		WHERE (name LIKE CONCAT('%', #{searchword}, '%') OR description LIKE CONCAT('%', #{searchword}, '%')) AND classification = 1
		order by id desc
	</select>
	
	<!-- 레저 서비스 업체 검색 (12개) -->
	<select id="searchLeisureShopsLimit" resultType="com.activityx.allei.dto.ShopDto">
		SELECT shop.id, shop.admin, shop.name, shop.address, shop.phone, shop.classification, shop.number, shop.description, shop.imgDesc, shop.img, shop.region
		FROM shop, shop_category, category
		WHERE shop.id = shop_category.shop AND shop_category.code = category.code AND (shop.name LIKE CONCAT('%', #{searchword}, '%') OR shop.description LIKE CONCAT('%', #{searchword}, '%') OR category.name LIKE CONCAT('%', #{searchword}, '%') OR address LIKE CONCAT('%', #{searchword}, '%') OR region LIKE CONCAT('%', #{searchword}, '%')) AND classification = 0
		order by shop.id desc
		LIMIT 12
	</select>
	
	<!-- 장비 대여 업체 검색 (12개) -->
	<select id="searchRentalShopsLimit" resultType="com.activityx.allei.dto.ShopDto">
		SELECT shop.id, shop.admin, shop.name, shop.address, shop.phone, shop.classification, shop.number, shop.description, shop.imgDesc, shop.img, shop.region
		FROM shop, shop_category, category
		WHERE shop.id = shop_category.shop AND shop_category.code = category.code AND (shop.name LIKE CONCAT('%', #{searchword}, '%') OR shop.description LIKE CONCAT('%', #{searchword}, '%') OR category.name LIKE CONCAT('%', #{searchword}, '%') OR address LIKE CONCAT('%', #{searchword}, '%') OR region LIKE CONCAT('%', #{searchword}, '%')) AND classification = 1
		order by shop.id desc
		LIMIT 12
	</select>
	
	<!-- 레저 서비스 업체 상세 검색 -->
	<select id="detailSearchLeisureShop" resultType="com.activityx.allei.dto.ShopDto">
		SELECT shop.id, shop.admin, shop.name, shop.address, shop.phone, shop.classification, shop.number, shop.description, shop.imgDesc, shop.img, shop.region
		FROM shop, (SELECT shop_category.id, shop_category.shop, shop_category.code
					FROM category, shop_category
					WHERE name LIKE CONCAT('%', #{category}, '%') AND category.code = shop_category.code) AS ctgr
		WHERE (shop.classification = 0) AND (shop.id = ctgr.shop) AND shop.id IN (SELECT shop
												FROM product
												WHERE price BETWEEN #{minPrice} AND #{maxPrice} AND region LIKE CONCAT('%', #{region}, '%'))
		order by shop.id desc
	</select>
	
	<!-- 장비 대여 업체 상세 검색 -->
	<select id="detailSearchRentalShop" resultType="com.activityx.allei.dto.ShopDto">
		SELECT shop.id, shop.admin, shop.name, shop.address, shop.phone, shop.classification, shop.number, shop.description, shop.imgDesc, shop.img, shop.region
		FROM shop, (SELECT shop_category.id, shop_category.shop, shop_category.code
					FROM category, shop_category
					WHERE name LIKE CONCAT('%', #{category}, '%') AND category.code = shop_category.code) AS ctgr
		WHERE (shop.classification = 1) AND (shop.id = ctgr.shop) AND shop.id IN (SELECT shop
												FROM product
												WHERE price BETWEEN #{minPrice} AND #{maxPrice} AND region LIKE CONCAT('%', #{region}, '%'))
		order by shop.id desc
	</select>
	
	<!-- 업체 수정 -->
	<update id="update">
		UPDATE shop
		SET name=#{name}, address=#{address}, phone=#{phone}, number=#{number}, description=#{description}, imgDesc=#{imgDesc}, img=#{img}, region=#{region}
		WHERE id=#{id}
	</update>
	
	<!-- 업체 삭제 -->
	<delete id="delete">
		DELETE FROM shop
		WHERE id=#{id}
	</delete>
	
	<!-- 업체 평점 조회 -->
	<select id="readRate" resultType="Float">
		SELECT AVG(rate)
		FROM reservation, review
		WHERE reservation.id = review.reservation AND reservation.shop = #{shop}
		GROUP BY reservation.shop
	</select>
	
	<!-- 업체 이미지 저장 -->
	<update id="updateImg">
		UPDATE shop
		SET img=#{img}
		WHERE id=#{id}
	</update>
	
	<!-- 업체 설명 이미지 저장 -->
	<update id="updateImgDesc">
		UPDATE shop
		SET imgDesc=#{imgDesc}
		WHERE id=#{id}
	</update>
	
	<!-- 업체 아이디로 업체 이름 찾기 -->
	<select id="getNamebyId" resultType="String">
		select name
		from shop
		where id = #{id}
	</select>

</mapper>